# Compiled class files
*.class

# Log files
*.log
hs_err_pid*

# Package files
*.jar
*.war
*.ear

# IDE specific files
.idea/
*.iml
out/

# Build system
target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/
